## The Python web scraping notebook 3: Player ODI Rankings

### https://www.icc-cricket.com/
* Mens cricket player ODI Rankings for Batsmen, Bowlers and All-Rounders

In [18]:
# Importing the libraries
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

### Getting the Latest Team rankings

In [19]:
# Test links for webscraping
odibat = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
odibowl = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
odiallrounder = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/all-rounder"

### Scraping the ODI batting data

In [20]:
# The odi batting data
response = requests.get(odibat)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

In [21]:
# For ODI Player Batting Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


odi_bat_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })
odi_bat_rank['Type'] = 'Batting'
odi_bat_rank['Format'] = 'ODI'
odi_bat_rank

    Rank          Player Name Player Country Ratings     Type Format
0      0          Virat Kohli            IND     869  Batting    ODI
1      1         Rohit Sharma            IND     855  Batting    ODI
2      2           Babar Azam            PAK     829  Batting    ODI
3      3          Ross Taylor             NZ     828  Batting    ODI
4      4  Francois du Plessis             SA     791  Batting    ODI
..   ...                  ...            ...     ...      ...    ...
95    95      Ravindra Jadeja            IND     419  Batting    ODI
96    96        Matthew Cross            SCO     416  Batting    ODI
97    97             Tony Ura            PNG     415  Batting    ODI
98    98          Rashid Khan            AFG     402  Batting    ODI
99    99         Chris Woakes            ENG     400  Batting    ODI

[100 rows x 6 columns]

### Scraping the ODI bowling data

In [22]:
# The odi bowling data
response = requests.get(odibowl)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For ODI Player Bowling Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


odi_bowl_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

odi_bowl_rank['Type'] = 'Bowling'
odi_bowl_rank['Format'] = 'odi'

odi_bowl_rank

    Rank        Player Name Player Country Ratings     Type Format
0      0        Trent Boult             NZ     727  Bowling    odi
1      1     Jasprit Bumrah            IND     719  Bowling    odi
2      2   Mujeeb Ur Rahman            AFG     701  Bowling    odi
3      3        Pat Cummins            AUS     671  Bowling    odi
4      4      Kagiso Rabada             SA     664  Bowling    odi
..   ...                ...            ...     ...      ...    ...
95    95  Carlos Brathwaite             WI     363  Bowling    odi
96    96       Roston Chase             WI     362  Bowling    odi
97    97    Donald Tiripano            ZIM     358  Bowling    odi
98    98      Michael Leask            SCO     355  Bowling    odi
99    99    Devendra Bishoo             WI     353  Bowling    odi

[100 rows x 6 columns]

### Scraping the odi all-rounder data

In [24]:
# The odi bowling data
response = requests.get(odiallrounder)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For ODI Player All rounder Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


odi_allrounder_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

odi_allrounder_rank['Type'] = 'All-rounder'
odi_allrounder_rank['Format'] = 'odi'

odi_allrounder_rank

    Rank          Player Name Player Country Ratings         Type Format
0      0        Mohammad Nabi            AFG     301  All-rounder    odi
1      1           Ben Stokes            ENG     294  All-rounder    odi
2      2           Imad Wasim            PAK     278  All-rounder    odi
3      3  Colin de Grandhomme             NZ     266  All-rounder    odi
4      4         Chris Woakes            ENG     263  All-rounder    odi
5      5          Rashid Khan            AFG     253  All-rounder    odi
6      6      Ravindra Jadeja            IND     246  All-rounder    odi
7      7     Mitchell Santner             NZ     241  All-rounder    odi
8      8        Sikandar Raza            ZIM     232  All-rounder    odi
9      9        Sean Williams            ZIM     229  All-rounder    odi
10    10   Andile Phehlukwayo             SA     221  All-rounder    odi
11    11        Hardik Pandya            IND     219  All-rounder    odi
12    12       Marcus Stoinis            AUS     214  All-rounder    odi
13    13            Moeen Ali            ENG     213  All-rounder    odi
14    14         Jason Holder             WI     213  All-rounder    odi
15    15          Adil Rashid            ENG     213  All-rounder    odi
16    16        Jimmy Neesham             NZ     203  All-rounder    odi
17    17          Trent Boult             NZ     200  All-rounder    odi
18    18        Kagiso Rabada             SA     199  All-rounder    odi
19    19         Mehedi Hasan            BAN     195  All-rounder    odi

In [25]:
#### Overall ODI Ranking Data

Ranking_data = pd.concat([odi_bat_rank, odi_bowl_rank, odi_allrounder_rank], axis=0, ignore_index = True)
Ranking_data

     Rank          Player Name Player Country Ratings         Type Format
0       0          Virat Kohli            IND     869      Batting    ODI
1       1         Rohit Sharma            IND     855      Batting    ODI
2       2           Babar Azam            PAK     829      Batting    ODI
3       3          Ross Taylor             NZ     828      Batting    ODI
4       4  Francois du Plessis             SA     791      Batting    ODI
..    ...                  ...            ...     ...          ...    ...
215    15          Adil Rashid            ENG     213  All-rounder    odi
216    16        Jimmy Neesham             NZ     203  All-rounder    odi
217    17          Trent Boult             NZ     200  All-rounder    odi
218    18        Kagiso Rabada             SA     199  All-rounder    odi
219    19         Mehedi Hasan            BAN     195  All-rounder    odi

[220 rows x 6 columns]

In [16]:
# Writing out

Ranking_data.to_csv("Player_ODI_Rankings.csv",index=False)