## The Python web scraping notebook 4: Player T20 Rankings

### https://www.icc-cricket.com/
* Mens cricket player T20 Rankings for Batsmen, Bowlers and All-Rounders

In [18]:
# Importing the libraries
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

### Getting the Latest Team rankings

In [19]:
# T20i links for webscraping
t20bat = "https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/batting"
t20bowl = "https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/bowling"
t20allrounder = "https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/all-rounder"

### Scraping the test batting data

In [20]:
# The t20i batting data
response = requests.get(t20bat)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

In [21]:
# For T20 Player Batting Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


t20_bat_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })
#test_rank

In [9]:
t20_bat_rank['Type'] = 'Batting'
t20_bat_rank['Format'] = 'T20'

t20_bat_rank

    Rank       Player Name Player Country Ratings     Type Format
0      0        Babar Azam            PAK     879  Batting    T20
1      1      Lokesh Rahul            IND     823  Batting    T20
2      2       Aaron Finch            AUS     820  Batting    T20
3      3       Colin Munro             NZ     785  Batting    T20
4      4     Glenn Maxwell            AUS     721  Batting    T20
..   ...               ...            ...     ...      ...    ...
95    95     Stephan Baard            NAM     354  Batting    T20
96    96      Tobias Visee            NED     352  Batting    T20
97    97   Shimron Hetmyer             WI     350  Batting    T20
98    98        Aqib Ilyas            OMA     339  Batting    T20
99    99  Elton Chigumbura            ZIM     337  Batting    T20

[100 rows x 6 columns]

### Scraping the test bowling data

In [22]:
# The t20 bowling data
response = requests.get(t20bowl)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For T20 Player Bowling Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


t20_bowl_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

t20_bowl_rank['Type'] = 'Bowling'
t20_bowl_rank['Format'] = 'T20'

t20_bowl_rank

    Rank       Player Name Player Country Ratings     Type Format
0      0       Rashid Khan            AFG     736  Bowling    T20
1      1  Mujeeb Ur Rahman            AFG     730  Bowling    T20
2      2        Adam Zampa            AUS     713  Bowling    T20
3      3       Ashton Agar            AUS     712  Bowling    T20
4      4    Tabraiz Shamsi             SA     681  Bowling    T20
..   ...               ...            ...     ...      ...    ...
95    95        Ehsan Khan             HK     371  Bowling    T20
96    96    Nosaina Pokana            PNG     367  Bowling    T20
97    97     Kasun Rajitha             SL     366  Bowling    T20
98    98    Tendai Chatara            ZIM     365  Bowling    T20
99    99   George Dockrell            IRE     363  Bowling    T20

[100 rows x 6 columns]

### Scraping the test all-rounder data

In [24]:
# The t20 all rounder data
response = requests.get(t20allrounder)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For T20 Player All rounder Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


t20_allrounder_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

t20_allrounder_rank['Type'] = 'All-rounder'
t20_allrounder_rank['Format'] = 'T20'

t20_allrounder_rank

    Rank           Player Name Player Country Ratings         Type Format
0      0         Mohammad Nabi            AFG     294  All-rounder    T20
1      1         Sean Williams            ZIM     213  All-rounder    T20
2      2         Glenn Maxwell            AUS     204  All-rounder    T20
3      3    Richard Berrington            SCO     194  All-rounder    T20
4      4         Gareth Delany            IRE     170  All-rounder    T20
5      5            Khawar Ali            OMA     159  All-rounder    T20
6      6         Collins Obuya            KEN     153  All-rounder    T20
7      7         Rohan Mustafa            UAE     152  All-rounder    T20
8      8       Zeeshan Maqsood            OMA     135  All-rounder    T20
9      9           Mahmudullah            BAN     135  All-rounder    T20
10    10        Thisara Perera             SL     116  All-rounder    T20
11    11  Roelof van der Merwe            NED     112  All-rounder    T20
12    12          Norman Vanua            PNG     110  All-rounder    T20
13    13      Mitchell Santner             NZ     108  All-rounder    T20
14    14       Mohammad Hafeez            PAK     107  All-rounder    T20
15    15            Imad Wasim            PAK     104  All-rounder    T20
16    16             JP Duminy             SA     103  All-rounder    T20
17    17         Charles Amini            PNG     102  All-rounder    T20
18    18   Colin de Grandhomme             NZ     100  All-rounder    T20
19    19            Assad Vala            PNG      97  All-rounder    T20

In [15]:
#### Overall T20_Ranking Data

Ranking_data = pd.concat([t20_bat_rank, t20_bowl_rank, t20_allrounder_rank], axis=0, ignore_index = True)
Ranking_data

     Rank          Player Name Player Country Ratings         Type Format
0       0           Babar Azam            PAK     879      Batting    T20
1       1         Lokesh Rahul            IND     823      Batting    T20
2       2          Aaron Finch            AUS     820      Batting    T20
3       3          Colin Munro             NZ     785      Batting    T20
4       4        Glenn Maxwell            AUS     721      Batting    T20
..    ...                  ...            ...     ...          ...    ...
215    15           Imad Wasim            PAK     104  All-rounder    T20
216    16            JP Duminy             SA     103  All-rounder    T20
217    17        Charles Amini            PNG     102  All-rounder    T20
218    18  Colin de Grandhomme             NZ     100  All-rounder    T20
219    19           Assad Vala            PNG      97  All-rounder    T20

[220 rows x 6 columns]

In [17]:
# Writing out

Ranking_data.to_csv("Player_T20_Rankings.csv",index=False)