## The Python web scraping notebook 2: Player Test Rankings

### https://www.icc-cricket.com/
* Mens cricket player Test Rankings for Batsmen, Bowlers and All-Rounders

In [1]:
# Importing the libraries
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

### Getting the Latest Team rankings

In [2]:
# Test links for webscraping
testbat = "https://www.icc-cricket.com/rankings/mens/player-rankings/test/batting"
testbowl = "https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling"
testallrounder = "https://www.icc-cricket.com/rankings/mens/player-rankings/test/all-rounder"

### Scraping the test batting data

In [71]:
# The test batting data
response = requests.get(testbat)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

In [72]:
# For Test Player Batting Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


test_bat_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })
#test_rank

In [73]:
test_bat_rank['Type'] = 'Batting'
test_bat_rank['Format'] = 'Test'

test_bat_rank

    Rank         Player Name Player Country Ratings     Type Format
0      0         Steve Smith            AUS     911  Batting   Test
1      1         Virat Kohli            IND     886  Batting   Test
2      2  Marnus Labuschagne            AUS     827  Batting   Test
3      3     Kane Williamson             NZ     813  Batting   Test
4      4          Babar Azam            PAK     800  Batting   Test
..   ...                 ...            ...     ...      ...    ...
95    95   Lahiru Thirimanne             SL     329  Batting   Test
96    96        Javed Ahmadi            AFG     326  Batting   Test
97    97     Mohammad Rizwan            PAK     323  Batting   Test
98    98       Marcus Harris            AUS     323  Batting   Test
99    99    Theunis de Bruyn             SA     317  Batting   Test

[100 rows x 6 columns]

### Scraping the test bowling data

In [75]:
# The test bowling data
response = requests.get(testbowl)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For Test Player Bowling Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

#print(len(player_name))
#print(len(player_country))
#print(len(player_rating))


test_bowl_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

test_bowl_rank['Type'] = 'Bowling'
test_bowl_rank['Format'] = 'Test'

test_bowl_rank

    Rank        Player Name Player Country Ratings     Type Format
0      0        Pat Cummins            AUS     904  Bowling   Test
1      1        Neil Wagner             NZ     843  Bowling   Test
2      2       Jason Holder             WI     830  Bowling   Test
3      3        Tim Southee             NZ     812  Bowling   Test
4      4      Kagiso Rabada             SA     802  Bowling   Test
..   ...                ...            ...     ...      ...    ...
95    95      Hanuma Vihari            IND      74  Bowling   Test
96    96         Carl Mumba            ZIM      70  Bowling   Test
97    97     Ebadot Hussain            BAN      65  Bowling   Test
98    98          Azhar Ali            PAK      63  Bowling   Test
99    99  James Cameron-Dow            IRE      57  Bowling   Test

[100 rows x 6 columns]

### Scraping the test all-rounder data

In [77]:
# The test bowling data
response = requests.get(testallrounder)
html_soup = BeautifulSoup(response.text, 'html.parser')
text = str(html_soup.find_all("td"))
#html_soup.find_all("td")

# For Test Player All rounder Ranks

player_name = re.findall(r'(?<="\>)[A-Za-z -.]+(?=<\/a)', text)
player_name = re.findall(r'(?<=large"\>)[A-Za-z ]+', text) + player_name
player_country = re.findall(r'(?<=text">)[A-Za-z ]+(?=<)',text)
player_country = re.findall(r'(?<=span>)[A-Za-z ]+', text) + player_country
player_rating = re.findall(r'(?<=rating">)[0-9]+(?=<)',text)

print(len(player_name))
print(len(player_country))
print(len(player_rating))


test_allrounder_rank = pd.DataFrame({'Rank' : range(len(player_name)),
                            'Player Name' : player_name,
                              'Player Country' : player_country,
                                      'Ratings': player_rating
                                })

test_allrounder_rank['Type'] = 'All-rounder'
test_allrounder_rank['Format'] = 'Test'

test_allrounder_rank

20
20
20

    Rank          Player Name Player Country Ratings         Type Format
0      0         Jason Holder             WI     473  All-rounder   Test
1      1           Ben Stokes            ENG     407  All-rounder   Test
2      2      Ravindra Jadeja            IND     397  All-rounder   Test
3      3       Mitchell Starc            AUS     298  All-rounder   Test
4      4  Ravichandran Ashwin            IND     282  All-rounder   Test
5      5  Colin de Grandhomme             NZ     280  All-rounder   Test
6      6          Pat Cummins            AUS     266  All-rounder   Test
7      7         Roston Chase             WI     238  All-rounder   Test
8      8         Chris Woakes            ENG     212  All-rounder   Test
9      9          Tim Southee             NZ     211  All-rounder   Test
10    10            Moeen Ali            ENG     208  All-rounder   Test
11    11           Sam Curran            ENG     182  All-rounder   Test
12    12          Kemar Roach             WI     176  All-rounder   Test
13    13          Neil Wagner             NZ     163  All-rounder   Test
14    14         Stuart Broad            ENG     161  All-rounder   Test
15    15         Mehedi Hasan            BAN     161  All-rounder   Test
16    16          Trent Boult             NZ     160  All-rounder   Test
17    17        Sikandar Raza            ZIM     157  All-rounder   Test
18    18        Kagiso Rabada             SA     150  All-rounder   Test
19    19          Nathan Lyon            AUS     150  All-rounder   Test

In [79]:
#### Overall Test_Ranking Data

Ranking_data = pd.concat([test_bat_rank, test_bowl_rank, test_allrounder_rank], axis=0, ignore_index = True)
Ranking_data

     Rank         Player Name Player Country Ratings         Type Format
0       0         Steve Smith            AUS     911      Batting   Test
1       1         Virat Kohli            IND     886      Batting   Test
2       2  Marnus Labuschagne            AUS     827      Batting   Test
3       3     Kane Williamson             NZ     813      Batting   Test
4       4          Babar Azam            PAK     800      Batting   Test
..    ...                 ...            ...     ...          ...    ...
215    15        Mehedi Hasan            BAN     161  All-rounder   Test
216    16         Trent Boult             NZ     160  All-rounder   Test
217    17       Sikandar Raza            ZIM     157  All-rounder   Test
218    18       Kagiso Rabada             SA     150  All-rounder   Test
219    19         Nathan Lyon            AUS     150  All-rounder   Test

[220 rows x 6 columns]

In [80]:
# Writing out

Ranking_data.to_csv("Player_Test_Rankings.csv",index=False)